<h1>Listing sponsors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Website</th>
    <th>Alt text</th>
    <th>Amount paid</th>
    <th>Start date</th>
    <th>Expiry date</th>
    <th>Html override</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sponsors.each do |sponsor| %>
  <tr>
    <td><%= sponsor.name %></td>
    <td><%= sponsor.description %></td>
    <td><%= sponsor.website %></td>
    <td><%= sponsor.alt_text %></td>
    <td><%= sponsor.amount_paid %></td>
    <td><%= sponsor.start_date %></td>
    <td><%= sponsor.expiry_date %></td>
    <td><%= sponsor.html_override %></td>
    <td><%= link_to 'Show', sponsor %></td>
    <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy', sponsor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sponsor', new_sponsor_path %>
