<h1>Listing suggestions</h1>

<ul>
	<% @suggestions.each do |suggestion|%>
		<li>
			<div class="subject"><%= suggestion.subject %></div>
			<div class="message"><%= suggestion.message.truncate(200) %></div>
			<div class="user_id"><%= suggestion.user_id %></div>
			<%=link_to 'Show',suggestion %>
		</li>
	<%end>
</ul>

<br />

<%= link_to 'New Suggestion', new_suggestion_path %>
