
<h1>
  <%= @suggestion.subject %>
</h1>
<h2>
  <%= @suggestion.user.cse_username %>
</h2>

<p>
  <%= RDiscount.new(@suggestion.message).to_html.html_safe %>
</p>

<h2>
  Comments
</h2>

<% @suggestion.comments.each do |comment| %>
  <h3><%= comment.user.cse_username %></h3>
  <p>
    <%= comment.comment %>
  </p>
<% end %>

<%= form_for [@suggestion, @suggestion.comments.new], :remote => true do |f| %>
<%= f.text_field :comment %>
<% end %>

<%= link_to 'Back', suggestions_path %>
